/TF_SORM_JOINT_D0822a/EXECUTABLE/BUN/prog.exe
/TF_SORM_JOINT_D0822a/err.tmp
/TF_SORM_JOINT_D0822a/EXECUTABLE/BUN/prog.rar
/TF_SORM_JOINT_D0822a/EXECUTABLE/MODEM/TF_SORM.BIN
/TF_SORM_JOINT_D0822a/EXECUTABLE/NO_MODEM_BLACK/TF_SORM.BIN
/TF_SORM_JOINT_D0822a/EXECUTABLE/NO_MODEM_WHITE/TF_SORM.BIN
/TF_SORM_JOINT_D0822a/TF_SORM.EXE
/TF_SORM_JOINT_D0822a/TF_SORM.LST
/TF_SORM_JOINT_D0822a/TF_SORM.MAP
/TF_SORM_JOINT_D0822a/tf_sorm.OBJ
